<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content}, ~{::css}, ~{::script})}">

<head>
    <title th:fragment="title">커리큘럼</title>

    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/courseDetail/course-detail.css}">
    </th:block>
</head>

<body>
<div th:fragment="content" class="cd-wrap container">

    <div th:replace="courseDetail/fragments/detail-header :: detailHeader(${course}, ${activeTab})"></div>

    <section class="cd-body">
        <div class="cd-left">
            <h2 class="cd-h2">커리큘럼</h2>
            <ul class="cd-list">
                <li>1강. OT</li>
                <li>2강. 기본 개념</li>
                <li>3강. 실습</li>
            </ul>
        </div>

        <div th:replace="courseDetail/fragments/detail-sidebar :: detailSidebar(${course}, ${false})"></div>
    </section>

</div>

<th:block th:fragment="script">
    <script th:src="@{/js/courseDetail/course-detail.js}"></script>
</th:block>
</body>
</html>
