<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content}, ~{::css}, ~{::script})}">

<head>
    <title th:fragment="title">강의 소개</title>

    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/courseDetail/course-detail.css}">
    </th:block>
</head>

<body>
<div th:fragment="content" class="cd-wrap container">

    <div th:replace="courseDetail/fragments/detail-header :: detailHeader(${course}, ${activeTab})"></div>

    <section class="cd-body">
        <div class="cd-left">
            <h2 class="cd-h2">강의 소개</h2>
            <p>여기에 강의 소개 내용을 작성하면 됩니다.</p>
        </div>

        <div th:replace="courseDetail/fragments/detail-sidebar :: detailSidebar(${course}, ${false})"></div>
    </section>

</div>

<th:block th:fragment="script">
    <script th:src="@{/js/courseDetail/course-detail.js}"></script>
</th:block>
</body>
</html>
