<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content}, ~{::css}, ~{::script})}">

<head>
    <title th:fragment="title">수강평</title>

    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/courseDetail/course-detail.css}">
    </th:block>
</head>

<body>
<div th:fragment="content" class="cd-wrap container">

    <div th:replace="courseDetail/fragments/detail-header :: detailHeader(${course}, ${activeTab})"></div>

    <section class="cd-body">
        <div class="cd-left">
            <h2 class="cd-h2">수강평 (3개)</h2>

            <div class="review-card" th:each="r : ${reviews}">
                <div class="review-top">
                    <b th:text="${r.name}">dmax</b>
                    <span>★ <span th:text="${r.rating}">5.0</span></span>
                </div>
                <p th:text="${r.comment}">후기</p>
            </div>
        </div>

        <div th:replace="courseDetail/fragments/detail-sidebar :: detailSidebar(${course}, ${false})"></div>
    </section>

</div>

<th:block th:fragment="script">
    <script th:src="@{/js/courseDetail/course-detail.js}"></script>
</th:block>
</body>
</html>
