<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content, css)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">관리자 페이지</title>

    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-navbar.css}">
    <link rel="stylesheet" th:href="@{/css/common/mainnav.css}">
    <th:block th:replace="${css}"></th:block>
</head>

<body>
<div class="layout-wrapper">
    <header th:replace="~{fragments/header :: site-header}"></header>
    <div class="main-body">
        <nav th:replace="~{fragments/admin-navbar :: admin-navbar}"></nav>
        <main class="content">
            <div th:replace="${content}"></div>
        </main>
    </div>
</div>
</body>
</html>
