<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content}, ~{::css}, ~{})}">

<th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice/notice.css}">
</th:block>

<head>
    <title th:fragment="title">공지사항 상세</title>
</head>

<body>
<div th:fragment="content">

    <section class="notice-page container">
        <h1 class="notice-title">공지사항</h1>

        <div class="notice-detail-wrap">

            <div class="notice-detail-header">
                <!-- 카테고리 라벨 -->
                <span class="col-category-text"
                      th:text="${notice.category}"
                      th:classappend="
                                    ${notice.category == '긴급'} ? ' is-urgent' :
                                    (${notice.category == '이벤트'} ? ' is-event' : ' is-normal')
                                  ">
                                일반
                </span>

                <div class="notice-detail-title" th:text="${notice.title}">
                    공지사항 글제목
                </div>

                <div class="notice-detail-meta">
                    <span th:text="${'작성일자 | ' + #dates.format(notice.createdAt, 'yyyy.MM.dd')}">
                         2025.12.10
                    </span>
                </div>
            </div>
            <div class="notice-detail-divider"></div>

            <!-- 줄바꿈 보이게: th:text + CSS(white-space) 추천 -->
            <div class="notice-detail-content" th:text="${notice.content}">
                공지사항 글내용
            </div>


            <!-- 첨부파일 -->
            <div class="notice-attach"
                 th:if="${notice.fileUrl != null and !#strings.isEmpty(notice.fileUrl)}">

                <a class="notice-attach-link"
                   th:href="@{/notice/{id}/download(id=${notice.noticeId})}">
                    첨부파일 다운로드
                </a>

                <span th:with="url=${notice.fileUrl}"
                      th:text="${url.substring(url.lastIndexOf('/') + 1)}">
                    파일명
                </span>
            </div>

            <div class="notice-detail-actions">
                <a class="notice-back-btn" th:href="@{/notice}">목록 보기</a>
            </div>
        </div>
    </section>

</div>
</body>
</html>
