<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content}, ~{::css}, ~{::script})}">

<head>
  <!-- title fragment -->
  <title th:fragment="title">로그인 - LearnIT</title>

  <!--main content css-->
  <th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
  </th:block>
</head>

<body>

<!-- content fragment -->
<div th:fragment="content" class="login-container">
  <div class="login-box">
    <h2>로그인</h2>
    
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
    <div th:if="${param.success}" class="success-message">회원가입이 완료되었습니다. 로그인해주세요.</div>

    <!-- 일반 로그인 폼 -->
    <form th:action="@{/login}" method="post" class="login-form">
      <div class="form-group">
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="이메일을 입력하세요" autocomplete="username" required>
      </div>

      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" autocomplete="current-password" required>
      </div>

      <div class="form-options">
        <label class="checkbox-label">
          <input type="checkbox" name="remember">
          <span>아이디 저장</span>
        </label>
        <a th:href="@{/user/find-password}" class="forgot-password">비밀번호 찾기</a>
      </div>

      <button type="submit" class="btn-signin">로그인</button>
    </form>

    <!-- SNS 로그인 섹션 -->
    <div class="oauth-section">
      <div class="divider">
        <span>SNS 로그인</span>
      </div>
      
      <div class="oauth-buttons">
        <a th:href="@{/oauth2/authorization/kakao}" class="btn-oauth btn-kakao">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 0C4.48 0 0 3.61 0 8.07c0 2.79 1.9 5.24 4.74 6.62l-.63 2.42c-.11.42.3.76.66.52l2.95-1.94c.49.07.99.1 1.48.1 5.52 0 10-3.61 10-8.07C20 3.61 15.52 0 10 0z" fill="#3C1E1E"/>
          </svg>
          <span>카카오 로그인</span>
        </a>
        <a th:href="@{/oauth2/authorization/google}" class="btn-oauth btn-google">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.6 10.23c0-.82-.08-1.61-.22-2.36H10v4.48h5.4c-.28 1.41-1.08 2.6-2.28 3.4v2.85h3.69c2.16-1.99 3.4-4.9 3.4-8.37z" fill="#4285F4"/>
            <path d="M10 20c2.7 0 4.96-.89 6.61-2.43l-3.69-2.85c-.9.6-2.05.96-3.32.96-2.55 0-4.7-1.66-5.47-3.9H1.07v2.94C2.72 17.07 6.09 20 10 20z" fill="#34A853"/>
            <path d="M4.53 11.71c-.2-.6-.31-1.24-.31-1.9 0-.66.11-1.3.31-1.9V5.97H1.07C.38 7.24 0 8.6 0 10s.38 2.76 1.07 4.03l3.46-2.32z" fill="#FBBC05"/>
            <path d="M10 3.98c1.44 0 2.73.49 3.74 1.45l2.78-2.78C14.96.99 12.7 0 10 0 6.09 0 2.72 2.93 1.07 7.07l3.46 2.35C5.3 5.64 7.45 3.98 10 3.98z" fill="#EA4335"/>
          </svg>
          <span>구글 로그인</span>
        </a>
      </div>
    </div>

    <!-- 회원가입 링크 -->
    <div class="signup-link">
      <span>아직 회원이 아니신가요?</span>
      <a th:href="@{/signup}">회원가입</a>
    </div>
  </div>
</div>

<!--main content js-->
<th:block th:fragment="script">
</th:block>

</body>
</html>

