<div th:fragment="footer" class="footer-wrapper">

    <div class="footer-top container">

        <div class="footer-brand">
            <img th:src="@{/images/logo.png}" alt="LearnIT">
            <p>배움의 시작을 더 쉽고, 더 가깝게.</p>
        </div>

        <div class="footer-links">
            <div class="link-group">
                <h4>정책</h4>
                <a th:href="@{/notice}">공지사항</a>
                <a href="#">이용약관</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">환불정책</a>
            </div>

            <!-- 회사정보 (✅ 여기에 회사소개) -->
            <div class="link-group">
                <h4>회사정보</h4>
                <a th:href="@{/about}">회사소개</a>
                <a href="#">채용</a>
                <a href="#">제휴 문의</a>
            </div>

            <div class="link-group footer-contact">
                <h4>Contact</h4>
                <p>Email: learnit@gmail.com</p>
                <p>Tel: 010-1234-5678</p>

                <div class="sns-icons">
                    <img th:src="@{/images/icon-instagram.png}" class="sns-icon" alt="Instagram">
                    <img th:src="@{/images/icon-youtube.png}" class="sns-icon" alt="YouTube">
                    <img th:src="@{/images/icon-blog.png}" class="sns-icon" alt="Blog">
                </div>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        © 2025 LearnIT. All Rights Reserved.
    </div>

</div>