.admin-dashboard {
    min-width: 600px;
    background-color: #fff;
}

.dashboard-top {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.stat-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat-wrap h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0 0 5px 5px;
}

.adminMain-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    transition: all 0.2s ease;
    height: 100%;
}

.adminMain-stat:hover {
    border-color: #333;
}

.stat-icon {
    width: 48px;
    height: auto;
    margin-bottom: 15px;
}

.stat-info {
    text-align: center;
}

.stat-number {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin: 0 0 5px 0;
}

.stat-label {
    font-size: 14px;
    color: #666;
    margin: 0;
}



.dashboard-bottom {
    display: flex;
    gap: 20px;
}

.notice-wrap, .certificate-wrap {
    flex: 1;
    height: 341px;
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    position: relative;
}

.notice-wrap h3, .certificate-wrap h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px 0;
    color: #333;
}

.plus-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.plus-btn:hover {
    opacity: 0.7;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    transition: 0.2s;
}

.list-item:hover {
    background-color: #eef1f6;
}

.item-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex: 1;
    min-width: 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.item-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.action-icon, .item-header img, .list-item img {
    width: 20px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
