<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnit.learnit.payment.common.repository.EnrollmentMapper">

    <!--결제 성공 시 수강 등록(insert)-->
    <insert id="insertEnrollment">

        INSERT INTO enrollment (user_id, course_id, status, created_at)
        VALUES (#{userId}, #{courseId}, 'ACTIVE', NOW())

    </insert>


    <!--이미 수강중인 강의 확인-->
    <select id="existsEnrollment" resultType="boolean">

        SELECT COUNT(*) > 0
        FROM enrollment
        WHERE user_id = #{userId}
          AND course_id = #{courseId}

    </select>


</mapper>