<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learnit.learnit.course.repository.CategoryRepository">

    <select id="findAll" resultType="com.learnit.learnit.course.dto.CategoryDTO">
        SELECT category_id,name
        FROM category
        ORDER BY category_id ASC;
    </select>

</mapper>